<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{title}}
    </title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main">
        {{>header}}
        <div class="mainBox mainBlurred mainTinted">

            <img class="resize"
                src="https://i0.wp.com/randomnerdtutorials.com/wp-content/uploads/2020/05/logo.png?resize=300%2C128&ssl=1" />
            <img class="resize" src="/img/mapbox.png" />
            <p class="about">Hi, I am Ritik Upmanyu, Creator of this little project, this website makes use of data from
                mapbox.com and
                openweathermap.org,... and down below is a image of onion peel taken from a camera i turned into
                microscope😅😅 </p>
            <img class="micro" src="/img/onion.png" />
        </div>
    </div>
    {{>footer}}
</body>

</html>