<!DOCTYPE html>

<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main">
        {{>header}}
        <img class="micro" src="/img/onion.png" />
        <img class="resize"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Nao_Robot_%28Robocup_2016%29.jpg/540px-Nao_Robot_%28Robocup_2016%29.jpg" />

    </div>
    {{>footer}}
</body>

</html>