body {
	color: #dfdfdf;
	font-family: arial;
	max-width: 70vw;
	margin: auto auto;
	padding: 0 5vw;
	background-image: url("/img/back.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

footer {
	color: #dfdfdf;
	border-top: 0.22vw solid #e7e7e7;
	margin-top: 1.76vw;
	padding: 1.76vw 0;
	width: 55vw;
}

header {
	margin-top: 1.76vw;
	margin-bottom: 5.5vw;
}
h1 {
	top: 5%;
	font-size: 7.05vw;
	margin-bottom: 1.76vw;
}

header a {
	color: #dfdfdf;
	margin-right: 6.6vw;
	font-size: 3.3vw;
	text-decoration: none;
}

.micro {
	height: 30vh;
}
.resize {
	width: 22.05vw;
}

p.foot {
	color: rgb(255, 235, 235);
	padding: 0.88vw;
	margin: 0.88vw;
	font-size: 2.1vw;
}

p.about {
	color: rgb(255, 235, 235);
	padding: 0.88vw;
	margin: 0.88vw;
	width: 44.1vw;
	font-size: 2.1vw;
}

input {
	border: 0.11vw solid #e9e9e9;
	padding: 0.88vw;
	font-size: 2.1vw;
}

button {
	cursor: pointer;
	background-origin: 0.11vw solid #e6e6e6;
	background: #e6e6e6;
	color: rgb(39, 39, 39);
	padding: 0.88vw;
	font-size: 2.1vw;
}

@import "compass/css3";

.blurred-bg {
	background: url(/img/back-blur.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.tinted {
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.404),
			rgba(0, 0, 0, 0.404)
		),
		url(/img/back-blur.jpg);
}

.box {
	margin-top: 1.76vw;
	margin-bottom: 5.5vw;
	width: 55vw;
	height: 3.3vw;
	left: -webkit-calc(50% - 27.56vw);
	top: 20%;
	border-radius: 0.22vw;
	box-shadow: 0 2.2vw 3.3vw rgba(0, 0, 0, 0.6);
	border: 0.11vw solid rgba(0, 0, 0, 0.483);
	padding: 2.2vw;
	text-align: center;
	box-sizing: border-box;
	font-size: 2.1vw;

	text-shadow: 0 0.11vw 0.11vw rgba(0, 0, 0, 0.4);

	display: table-cell;
	vertical-align: middle;
	transition: box-shadow 0.3s ease;
}

.mainBox {
	margin-top: 1.76vw;
	margin-bottom: 5.5vw;
	width: 55vw;
	height: 3.3vw;
	left: -webkit-calc(50% - 27.56vw);
	top: 20%;
	border-radius: 0.22vw;
	box-shadow: 0 2.2vw 3.3vw rgba(0, 0, 0, 0.6);
	border: 0.11vw solid rgba(0, 0, 0, 0.438);
	padding: 0.22vw;
	text-align: center;
	box-sizing: border-box;
	text-shadow: 0 0.11vw 0.11vw rgba(0, 0, 0, 0.4);
	font-size: 2.1vw;

	display: table-cell;
	vertical-align: middle;
	transition: box-shadow 0.3s ease;
}

.mainBlurred {
	background: url(/img/back-blur.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.mainTinted {
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.404),
			rgba(0, 0, 0, 0.404)
		),
		url(/img/back-blur.jpg);
}
